In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('learningSet.csv')

In [3]:
data.describe()

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,50680.000000,95412.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,5.345699,3.321438,0.152075,0.059166,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,2.742490,9.306899,0.470023,0.262078,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,3.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,8.000000,3.000000,0.000000,0.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,9.000000,241.000000,6.000000,4.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000

In [4]:
len(data[(data['TARGET_D'] > 20) & (data['TARGET_D'] < 50)]), len(data[data['TARGET_D'] >= 50])

(836, 114)

In [5]:
data.corr()['TARGET_D'].sort_values(ascending=False)

TARGET_D    1.000000
TARGET_B    0.774232
RAMNT_4     0.268811
RAMNT_21    0.099339
RAMNT_9     0.090168
              ...
RDATE_3    -0.125194
RDATE_5    -0.220455
RAMNT_5    -0.272147
ADATE_5          NaN
ADATE_15         NaN
Name: TARGET_D, Length: 407, dtype: float64

In [6]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(80)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
...              ...
ADATE_16   21.343227
ADATE_14   19.774242
ADATE_9    11.785729
ADATE_11   10.923154
NEXTDATE   10.452564

[80 rows x 1 columns]

In [7]:
data.corr()['TARGET_D'].sort_values(ascending=False)

TARGET_D    1.000000
TARGET_B    0.774232
RAMNT_4     0.268811
RAMNT_21    0.099339
RAMNT_9     0.090168
              ...
RDATE_3    -0.125194
RDATE_5    -0.220455
RAMNT_5    -0.272147
ADATE_5          NaN
ADATE_15         NaN
Name: TARGET_D, Length: 407, dtype: float64

In [8]:
#DATA CLEANING
#RAMNT HAVE MANY NULLS

data['RAMNT_4'].unique()

array([   nan,  10.  ,   1.  ,  15.  ,   5.  ,   2.  ,  25.  ,  20.  ,
         9.  ,  16.77,   3.  ,   7.  ,   4.  ,  13.  ,  50.  ,  12.  ,
        35.  ,  30.  ,  11.  ,  26.  ,  40.  ,  17.  , 100.  ,   6.  ,
        14.  ,  16.  ,   8.  ,  32.  ,  36.  ,  20.5 ,  24.  ,   7.5 ,
        18.  ])

In [9]:
for col in data.columns:
    if 'RAMNT' in col:
        data[col] = data[col].fillna(0)
        
data.corr()['TARGET_D'].sort_values(ascending=False)

TARGET_D    1.000000
TARGET_B    0.774232
LASTGIFT    0.061678
RAMNTALL    0.044810
AVGGIFT     0.044299
              ...
RDATE_6    -0.039446
RDATE_3    -0.125194
RDATE_5    -0.220455
ADATE_5          NaN
ADATE_15         NaN
Name: TARGET_D, Length: 407, dtype: float64

In [10]:
cols_to_keep = list(nulls[nulls['percentage'] < 10].index)
cols_to_keep

['ODATEDW',
 'OSOURCE',
 'TCODE',
 'STATE',
 'ZIP',
 'MAILCODE',
 'PVASTATE',
 'DOB',
 'NOEXCH',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'MDMAUD',
 'DOMAIN',
 'CLUSTER',
 'AGEFLAG',
 'HOMEOWNR',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'GENDER',
 'HIT',
 'DATASRCE',
 'MALEMILI',
 'MALEVET',
 'VIETVETS',
 'WWIIVETS',
 'LOCALGOV',
 'STATEGOV',
 'FEDGOV',
 'SOLP3',
 'SOLIH',
 'MAJOR',
 'GEOCODE',
 'COLLECT1',
 'VETERANS',
 'BIBLE',
 'CATLG',
 'HOMEE',
 'PETS',
 'CDPLAY',
 'STEREO',
 'PCOWNERS',
 'PHOTO',
 'CRAFTS',
 'FISHER',
 'GARDENIN',
 'BOATS',
 'WALKER',
 'KIDSTUFF',
 'CARDS',
 'PLATES',
 'LIFESRC',
 'PEPSTRFL',
 'POP901',
 'POP902',
 'POP903',
 'POP90C1',
 'POP90C2',
 'POP90C3',
 'POP90C4',
 'POP90C5',
 'ETH1',
 'ETH2',
 'ETH3',
 'ETH4',
 'ETH5',
 'ETH6',
 'ETH7',
 'ETH8',
 'ETH9',
 'ETH10',
 'ETH11',
 'ETH12',
 'ETH13',
 'ETH14',
 'ETH15',
 'ETH16',
 'AGE901',
 'AGE902',
 'AGE903',
 'AGE904',
 'AGE905',
 'AGE906',
 'AGE907',
 'CHIL1',
 'CHIL2',
 'CHIL3',
 'AGEC1',
 'AGEC2',
 'AGEC3',
 'AGEC4',
 'AGEC5',
 'AGEC6',
 'AGEC7',
 'CHILC1',
 'CHILC2',
 'CHILC3',
 'CHILC4',
 'CHILC5',
 'HHAGE1',
 'HHAGE2',
 'HHAGE3',
 'HHN1',
 'HHN2',
 'HHN3',
 'HHN4',
 'HHN5',
 'HHN6',
 'MARR1',
 'MARR2',
 'MARR3',
 'MARR4',
 'HHP1',
 'HHP2',
 'DW1',
 'DW2',
 'DW3',
 'DW4',
 'DW5',
 'DW6',
 'DW7',
 'DW8',
 'DW9',
 'HV1',
 'HV2',
 'HV3',
 'HV4',
 'HU1',
 'HU2',
 'HU3',
 'HU4',
 'HU5',
 'HHD1',
 'HHD2',
 'HHD3',
 'HHD4',
 'HHD5',
 'HHD6',
 'HHD7',
 'HHD8',
 'HHD9',
 'HHD10',
 'HHD11',
 'HHD12',
 'ETHC1',
 'ETHC2',
 'ETHC3',
 'ETHC4',
 'ETHC5',
 'ETHC6',
 'HVP1',
 'HVP2',
 'HVP3',
 'HVP4',
 'HVP5',
 'HVP6',
 'HUR1',
 'HUR2',
 'RHP1',
 'RHP2',
 'RHP3',
 'RHP4',
 'HUPA1',
 'HUPA2',
 'HUPA3',
 'HUPA4',
 'HUPA5',
 'HUPA6',
 'HUPA7',
 'RP1',
 'RP2',
 'RP3',
 'RP4',
 'MSA',
 'ADI',
 'DMA',
 'IC1',
 'IC2',
 'IC3',
 'IC4',
 'IC5',
 'IC6',
 'IC7',
 'IC8',
 'IC9',
 'IC10',
 'IC11',
 'IC12',
 'IC13',
 'IC14',
 'IC15',
 'IC16',
 'IC17',
 'IC18',
 'IC19',
 'IC20',
 'IC21',
 'IC22',
 'IC23',
 'HHAS1',
 'HHAS2',
 'HHAS3',
 'HHAS4',
 'MC1',
 'MC2',
 'MC3',
 'TPE1',
 'TPE2',
 'TPE3',
 'TPE4',
 'TPE5',
 'TPE6',
 'TPE7',
 'TPE8',
 'TPE9',
 'PEC1',
 'PEC2',
 'TPE10',
 'TPE11',
 'TPE12',
 'TPE13',
 'LFC1',
 'LFC2',
 'LFC3',
 'LFC4',
 'LFC5',
 'LFC6',
 'LFC7',
 'LFC8',
 'LFC9',
 'LFC10',
 'OCC1',
 'OCC2',
 'OCC3',
 'OCC4',
 'OCC5',
 'OCC6',
 'OCC7',
 'OCC8',
 'OCC9',
 'OCC10',
 'OCC11',
 'OCC12',
 'OCC13',
 'EIC1',
 'EIC2',
 'EIC3',
 'EIC4',
 'EIC5',
 'EIC6',
 'EIC7',
 'EIC8',
 'EIC9',
 'EIC10',
 'EIC11',
 'EIC12',
 'EIC13',
 'EIC14',
 'EIC15',
 'EIC16',
 'OEDC1',
 'OEDC2',
 'OEDC3',
 'OEDC4',
 'OEDC5',
 'OEDC6',
 'OEDC7',
 'EC1',
 'EC2',
 'EC3',
 'EC4',
 'EC5',
 'EC6',
 'EC7',
 'EC8',
 'SEC1',
 'SEC2',
 'SEC3',
 'SEC4',
 'SEC5',
 'AFC1',
 'AFC2',
 'AFC3',
 'AFC4',
 'AFC5',
 'AFC6',
 'VC1',
 'VC2',
 'VC3',
 'VC4',
 'ANC1',
 'ANC2',
 'ANC3',
 'ANC4',
 'ANC5',
 'ANC6',
 'ANC7',
 'ANC8',
 'ANC9',
 'ANC10',
 'ANC11',
 'ANC12',
 'ANC13',
 'ANC14',
 'ANC15',
 'POBC1',
 'POBC2',
 'LSC1',
 'LSC2',
 'LSC3',
 'LSC4',
 'VOC1',
 'VOC2',
 'VOC3',
 'HC1',
 'HC2',
 'HC3',
 'HC4',
 'HC5',
 'HC6',
 'HC7',
 'HC8',
 'HC9',
 'HC10',
 'HC11',
 'HC12',
 'HC13',
 'HC14',
 'HC15',
 'HC16',
 'HC17',
 'HC18',
 'HC19',
 'HC20',
 'HC21',
 'MHUC1',
 'MHUC2',
 'AC1',
 'AC2',
 'ADATE_2',
 'ADATE_3',
 'ADATE_4',
 'ADATE_6',
 'ADATE_7',
 'ADATE_8',
 'ADATE_12',
 'RFA_2',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24',
 'CARDPROM',
 'MAXADATE',
 'NUMPROM',
 'CARDPM12',
 'NUMPRM12',
 'RAMNTALL',
 'NGIFTALL',
 'CARDGIFT',
 'MINRAMNT',
 'MINRDATE',
 'MAXRAMNT',
 'MAXRDATE',
 'LASTGIFT',
 'LASTDATE',
 'FISTDATE',
 'AVGGIFT',
 'CONTROLN',
 'TARGET_B',
 'TARGET_D',
 'HPHONE_D',
 'RFA_2R',
 'RFA_2F',
 'RFA_2A',
 'MDMAUD_R',
 'MDMAUD_F',
 'MDMAUD_A',
 'CLUSTER2',
 'GEOCODE2']

In [11]:
#To avoid losing rows with donors of higher amounts, i'll deal with the nulls from ADATE columns by dropping them, keeping only MAXADATE, which informs the last promotion responded by the donor:

nulls_high_donors = data[data['TARGET_D'] > 20][cols_to_keep].isna().sum()
nulls_high_donors[nulls_high_donors > 0]

ADATE_3      41
ADATE_4      40
ADATE_6      39
ADATE_7      98
ADATE_8      47
ADATE_12    115
dtype: int64

In [14]:
data['ADATE_12'].unique()

array([9508., 9509.,   nan, 9510., 9507.])

In [15]:
cols_to_remove = [col for col in data.columns if 'ADATE_' in col and col in cols_to_keep]
cols_to_remove

['ADATE_2', 'ADATE_3', 'ADATE_4', 'ADATE_6', 'ADATE_7', 'ADATE_8', 'ADATE_12']

In [16]:
[cols_to_keep.remove(col) for col in cols_to_remove]

cols_to_keep = list(set(cols_to_keep))
sorted(cols_to_keep)

['AC1',
 'AC2',
 'ADI',
 'AFC1',
 'AFC2',
 'AFC3',
 'AFC4',
 'AFC5',
 'AFC6',
 'AGE901',
 'AGE902',
 'AGE903',
 'AGE904',
 'AGE905',
 'AGE906',
 'AGE907',
 'AGEC1',
 'AGEC2',
 'AGEC3',
 'AGEC4',
 'AGEC5',
 'AGEC6',
 'AGEC7',
 'AGEFLAG',
 'ANC1',
 'ANC10',
 'ANC11',
 'ANC12',
 'ANC13',
 'ANC14',
 'ANC15',
 'ANC2',
 'ANC3',
 'ANC4',
 'ANC5',
 'ANC6',
 'ANC7',
 'ANC8',
 'ANC9',
 'AVGGIFT',
 'BIBLE',
 'BOATS',
 'CARDGIFT',
 'CARDPM12',
 'CARDPROM',
 'CARDS',
 'CATLG',
 'CDPLAY',
 'CHIL1',
 'CHIL2',
 'CHIL3',
 'CHILC1',
 'CHILC2',
 'CHILC3',
 'CHILC4',
 'CHILC5',
 'CHILD03',
 'CHILD07',
 'CHILD12',
 'CHILD18',
 'CLUSTER',
 'CLUSTER2',
 'COLLECT1',
 'CONTROLN',
 'CRAFTS',
 'DATASRCE',
 'DMA',
 'DOB',
 'DOMAIN',
 'DW1',
 'DW2',
 'DW3',
 'DW4',
 'DW5',
 'DW6',
 'DW7',
 'DW8',
 'DW9',
 'EC1',
 'EC2',
 'EC3',
 'EC4',
 'EC5',
 'EC6',
 'EC7',
 'EC8',
 'EIC1',
 'EIC10',
 'EIC11',
 'EIC12',
 'EIC13',
 'EIC14',
 'EIC15',
 'EIC16',
 'EIC2',
 'EIC3',
 'EIC4',
 'EIC5',
 'EIC6',
 'EIC7',
 'EIC8',
 'EIC9',
 'ETH1',
 'ETH10',
 'ETH11',
 'ETH12',
 'ETH13',
 'ETH14',
 'ETH15',
 'ETH16',
 'ETH2',
 'ETH3',
 'ETH4',
 'ETH5',
 'ETH6',
 'ETH7',
 'ETH8',
 'ETH9',
 'ETHC1',
 'ETHC2',
 'ETHC3',
 'ETHC4',
 'ETHC5',
 'ETHC6',
 'FEDGOV',
 'FISHER',
 'FISTDATE',
 'GARDENIN',
 'GENDER',
 'GEOCODE',
 'GEOCODE2',
 'HC1',
 'HC10',
 'HC11',
 'HC12',
 'HC13',
 'HC14',
 'HC15',
 'HC16',
 'HC17',
 'HC18',
 'HC19',
 'HC2',
 'HC20',
 'HC21',
 'HC3',
 'HC4',
 'HC5',
 'HC6',
 'HC7',
 'HC8',
 'HC9',
 'HHAGE1',
 'HHAGE2',
 'HHAGE3',
 'HHAS1',
 'HHAS2',
 'HHAS3',
 'HHAS4',
 'HHD1',
 'HHD10',
 'HHD11',
 'HHD12',
 'HHD2',
 'HHD3',
 'HHD4',
 'HHD5',
 'HHD6',
 'HHD7',
 'HHD8',
 'HHD9',
 'HHN1',
 'HHN2',
 'HHN3',
 'HHN4',
 'HHN5',
 'HHN6',
 'HHP1',
 'HHP2',
 'HIT',
 'HOMEE',
 'HOMEOWNR',
 'HPHONE_D',
 'HU1',
 'HU2',
 'HU3',
 'HU4',
 'HU5',
 'HUPA1',
 'HUPA2',
 'HUPA3',
 'HUPA4',
 'HUPA5',
 'HUPA6',
 'HUPA7',
 'HUR1',
 'HUR2',
 'HV1',
 'HV2',
 'HV3',
 'HV4',
 'HVP1',
 'HVP2',
 'HVP3',
 'HVP4',
 'HVP5',
 'HVP6',
 'IC1',
 'IC10',
 'IC11',
 'IC12',
 'IC13',
 'IC14',
 'IC15',
 'IC16',
 'IC17',
 'IC18',
 'IC19',
 'IC2',
 'IC20',
 'IC21',
 'IC22',
 'IC23',
 'IC3',
 'IC4',
 'IC5',
 'IC6',
 'IC7',
 'IC8',
 'IC9',
 'KIDSTUFF',
 'LASTDATE',
 'LASTGIFT',
 'LFC1',
 'LFC10',
 'LFC2',
 'LFC3',
 'LFC4',
 'LFC5',
 'LFC6',
 'LFC7',
 'LFC8',
 'LFC9',
 'LIFESRC',
 'LOCALGOV',
 'LSC1',
 'LSC2',
 'LSC3',
 'LSC4',
 'MAILCODE',
 'MAJOR',
 'MALEMILI',
 'MALEVET',
 'MARR1',
 'MARR2',
 'MARR3',
 'MARR4',
 'MAXADATE',
 'MAXRAMNT',
 'MAXRDATE',
 'MC1',
 'MC2',
 'MC3',
 'MDMAUD',
 'MDMAUD_A',
 'MDMAUD_F',
 'MDMAUD_R',
 'MHUC1',
 'MHUC2',
 'MINRAMNT',
 'MINRDATE',
 'MSA',
 'NGIFTALL',
 'NOEXCH',
 'NUMPRM12',
 'NUMPROM',
 'OCC1',
 'OCC10',
 'OCC11',
 'OCC12',
 'OCC13',
 'OCC2',
 'OCC3',
 'OCC4',
 'OCC5',
 'OCC6',
 'OCC7',
 'OCC8',
 'OCC9',
 'ODATEDW',
 'OEDC1',
 'OEDC2',
 'OEDC3',
 'OEDC4',
 'OEDC5',
 'OEDC6',
 'OEDC7',
 'OSOURCE',
 'PCOWNERS',
 'PEC1',
 'PEC2',
 'PEPSTRFL',
 'PETS',
 'PHOTO',
 'PLATES',
 'POBC1',
 'POBC2',
 'POP901',
 'POP902',
 'POP903',
 'POP90C1',
 'POP90C2',
 'POP90C3',
 'POP90C4',
 'POP90C5',
 'PVASTATE',
 'RAMNTALL',
 'RECINHSE',
 'RECP3',
 'RECPGVG',
 'RECSWEEP',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_2',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24',
 'RFA_2A',
 'RFA_2F',
 'RFA_2R',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RHP1',
 'RHP2',
 'RHP3',
 'RHP4',
 'RP1',
 'RP2',
 'RP3',
 'RP4',
 'SEC1',
 'SEC2',
 'SEC3',
 'SEC4',
 'SEC5',
 'SOLIH',
 'SOLP3',
 'STATE',
 'STATEGOV',
 'STEREO',
 'TARGET_B',
 'TARGET_D',
 'TCODE',
 'TPE1',
 'TPE10',
 'TPE11',
 'TPE12',
 'TPE13',
 'TPE2',
 'TPE3',
 'TPE4',
 'TPE5',
 'TPE6',
 'TPE7',
 'TPE8',
 'TPE9',
 'VC1',
 'VC2',
 'VC3',
 'VC4',
 'VETERANS',
 'VIETVETS',
 'VOC1',
 'VOC2',
 'VOC3',
 'WALKER',
 'WWIIVETS',
 'ZIP']

In [17]:
data_no_nulls = data[cols_to_keep].dropna()
data_no_nulls

#I LEAVE ONLY DATA WITH NO NULLS.

,CLUSTER,AC2,RFA_11,RFA_6,ANC9,HC3,CHIL3,IC18,HUPA4,TPE12,...,OEDC2,HHAS2,RECP3,SEC3,DW7,MAXRDATE,OCC13,AGE907,EIC10,ANC11
0,36,7,S4E,S4E,0,5,27,26,14,2,...,2,4,,3,7,9402,4,25,5,0
1,14,5,A1E,A2G,1,2,21,5,4,12,...,2,2,,4,0,9512,3,32,4,0
2,43,5,S4F,S4E,0,3,25,18,11,6,...,7,8,,1,3,9207,7,23,3,0
3,44,6,S4E,S4E,0,0,20,12,42,0,...,0,14,,1,2,9411,0,25,3,3
4,16,11,A1E,A1D,0,0,23,16,9,3,...,3,8,X,1,0,9601,2,27,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,27,3,,F1G,1,0,18,21,14,2,...,8,6,,2,0,9602,3,30,5,0
95408,24,2,,,0,2,25,2,7,10,...,1,5,,5,0,9603,5,39,6,0
95409,30,11,N3E,S3E,0,0,17,11,31,0,...,23,13,X,4,0,9501,2,32,2,0
95410,24,3,S4F,S4F,1,0,22,19,12,11,...,1,2,,4,5,9608,2,25,7,0
95411,24,4,A1G,A1G,0,12,23,21,9,2,...,10,1,,4,0,9312,2,29,5,0

In [18]:
# checking if any importat rows (high amount donors) were dropped
len(data_no_nulls[data_no_nulls['TARGET_D'] >= 50])

114

In [19]:
dfcat = data_no_nulls.select_dtypes(object)
dfnum = data_no_nulls.select_dtypes(np.number)

In [20]:
#To deal with categorical columns that have a lot of different categories, removing the columns with more than 50 categories:

remove_cols = []

for col in dfcat:
    if len(dfcat[col].unique()) > 50:
        display(dfcat[col].value_counts())
        remove_cols.append(col)
        
len(remove_cols)

40    3977
35    3617
36    3604
27    3548
24    3535
49    3311
12    2998
18    2896
13    2705
30    2603
39    2598
45    2511
43    2384
11    2373
51    2318
      2301
14    2244
41    2172
44    1950
16    1943
2     1942
21    1891
8     1826
10    1804
46    1797
28    1629
17    1621
20    1567
53    1441
3     1428
42    1357
34    1356
23    1319
31    1282
22    1282
25    1272
38    1200
15    1171
1     1140
7     1074
5     1013
37     969
26     945
47     868
29     857
32     789
48     787
50     776
9      768
6      603
33     593
4      558
19     497
52     270
Name: CLUSTER, dtype: int64

       10411
A1F     9732
A1E     7018
A1G     4137
A2F     3729
       ...
S3B        8
A4B        4
S2B        4
A3B        3
A2B        2
Name: RFA_11, Length: 101, dtype: int64

A1F    15672
F1F     6696
A1G     6623
A1E     5423
A2F     5349
       ...
U1C        1
P1A        1
A2B        1
P1G        1
I1D        1
Name: RFA_6, Length: 109, dtype: int64

85351     61
92653     59
85710     54
95608     50
89117     45
          ..
92178      1
77327-     1
95050-     1
66607      1
32776-     1
Name: ZIP, Length: 19867, dtype: int64

       32695
A1F     9194
A1E     6145
A1G     3936
A2F     3510
       ...
L4F        1
A2B        1
L3D        1
I4C        1
A4B        1
Name: RFA_10, Length: 94, dtype: int64

       56198
A1F     4596
A1E     4344
A1G     2396
S2E     2239
       ...
1E         1
N1E        1
2D         1
U1D        1
L1D        1
Name: RFA_23, Length: 87, dtype: int64

A1F    21787
A1G     9082
A2F     6257
F1F     5991
A1E     5055
       ...
S2C        4
S3C        3
S4B        2
A3C        2
S3B        1
Name: RFA_4, Length: 64, dtype: int64

CA    17336
FL     8360
TX     7532
IL     6417
MI     5651
NC     4155
WA     3574
GA     3362
IN     2979
WI     2794
MO     2712
TN     2484
AZ     2404
OR     2180
MN     2175
CO     2030
SC     1758
AL     1700
KY     1620
OK     1617
LA     1592
KS     1293
IA     1271
AR     1016
MS      985
NV      978
NM      873
NE      754
UT      569
ID      533
MT      527
HI      449
SD      301
AK      282
WY      280
ND      260
AP       81
NY       71
VA       55
OH       52
PA       38
MD       34
NJ       26
MA       25
CT       23
AA       18
AE       14
ME       11
NH        8
VT        7
RI        6
WV        4
DE        3
DC        1
Name: STATE, dtype: int64

A1F    21918
A1G     9168
A2F     6275
F1F     5966
A1E     5113
       ...
S4B        2
S3C        2
A2C        1
S3B        1
N1C        1
Name: RFA_3, Length: 71, dtype: int64

       25618
A1E     7227
A1F     5311
A1D     4103
A1G     2313
       ...
S4A        2
A1A        1
F1B        1
L4C        1
A4A        1
Name: RFA_22, Length: 117, dtype: int64

       24461
A1E     7241
A1F     5336
A1D     4145
A1G     2325
       ...
A4B        3
P1B        2
S4A        2
L4C        1
A4A        1
Name: RFA_19, Length: 108, dtype: int64

       35162
A1E     6724
A1F     5114
A1D     3601
A1G     2240
       ...
A4B        2
S3A        2
P1B        2
S4A        2
A4A        1
Name: RFA_21, Length: 102, dtype: int64

       18840
A1F     8039
A1E     7759
A1G     3736
A1D     3573
       ...
I3G        4
I3F        3
L2D        3
N2B        1
U1D        1
Name: RFA_14, Length: 95, dtype: int64

       21240
A1E     7176
A1F     5498
A1D     3933
A1G     2403
       ...
P1B        1
S2A        1
S3A        1
A4A        1
N3B        1
Name: RFA_18, Length: 122, dtype: int64

MBC    4535
SYN    3560
AML    3427
BHG    3317
IMP    2984
       ...
SPI       1
OPR       1
ARZ       1
BLT       1
VIC       1
Name: OSOURCE, Length: 895, dtype: int64

A1F    10939
        8858
A1E     6589
A1G     4918
A2F     4825
       ...
N4C        1
I4D        1
A2B        1
L4C        1
L3C        1
Name: RFA_7, Length: 106, dtype: int64

A1F    11296
A1E     6891
A1G     5054
A2F     4954
F1F     3979
       ...
I4E        2
U1D        1
L4C        1
I3E        1
L3C        1
Name: RFA_8, Length: 109, dtype: int64

       27619
A1E     6763
A1F     5316
A1D     3639
A1G     2300
       ...
A4B        2
A3B        1
S2A        1
A4A        1
S4A        1
Name: RFA_17, Length: 118, dtype: int64

       11231
A1F     9617
A1E     7025
A1G     4254
A2F     4147
       ...
A2B        2
A3B        2
N2A        1
U1D        1
I1E        1
Name: RFA_9, Length: 107, dtype: int64

       36926
A1E     7220
A1F     5022
A1D     4553
F1D     3311
       ...
N1C        2
U1C        2
A1C        2
U1G        1
L4C        1
Name: RFA_24, Length: 97, dtype: int64

       20391
A1E     7071
A1F     6435
A1D     3317
A1G     3049
       ...
S4A        2
I2C        1
S2A        1
P1C        1
I3C        1
Name: RFA_16, Length: 123, dtype: int64

A1F    9844
       8915
A1E    7109
A1G    4192
A2F    3777
       ...
S2B       4
A3B       3
A2B       2
U1C       1
F1B       1
Name: RFA_12, Length: 107, dtype: int64

       50135
A1E     6403
A1F     4935
A1D     3334
A1G     2188
       ...
U1E        2
I1G        2
L4E        1
L3F        1
U1D        1
Name: RFA_20, Length: 80, dtype: int64

       40163
A1F     9053
A1G     3945
A2F     3277
A2E     2690
       ...
N2C        1
L3G        1
U1G        1
L4E        1
U1F        1
Name: RFA_13, Length: 87, dtype: int64

24

In [21]:
remove_cols.extend(['OSOURCE', 'ZIP'])

data_no_nulls = data_no_nulls.set_index('CONTROLN')

In [22]:
drop_list = data.drop(['OSOURCE', 'ZIP'], axis=1)

In [27]:
 drop_list.columns[drop_list.isnull().mean() > 0.85]

Index(['NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7',
       'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21',
       'RDATE_23'],
      dtype='object')

In [28]:
drop_list= drop_list.drop(['NUMCHLD','RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7',
       'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21',
       'RDATE_23' ], axis=1)

In [31]:
print(dfcat['GENDER'].value_counts())
dfcat['GENDER'] = dfcat['GENDER'].fillna('F')

F    51212
M    39037
      2948
U     1714
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [37]:
drop_list['GENDER'].replace(to_replace=['U','J','C','A'],value=np.NAN,inplace=True)

In [39]:
drop_list['GENDER'].value_counts()

F    51277
M    39094
      2957
Name: GENDER, dtype: int64

In [40]:
drop_list['GENDER'].isna().sum()

2084